body {
    text-align: center;
}

#container {
    width: 600px;
    height: 600px;
    border: 1px solid black;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    
}

.singleBox {
    box-sizing: border-box;
    border: solid lightblue;
    background-color: aquamarine;
}